.paladin-navbar {
  .navbar-brand {
    width: 200px;
    margin-right: 0;
  }

  .navbar__content {
    width: 100%;
  }

  .collapse {
    width: max-content;
  }

  .nav-link {
    font-size: 18px;
    font-weight: 400;

    &:hover {
      color: get-color(primary) !important;
    }
  }

  .navbar__login {
    a {
      font-size: 18px;
      border-radius: 10px;
    }
  }
}
