.header{
    border-bottom: 2px solid get-color(primary);
    width: 100%;
    padding: 14px 0;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__logo{
    width: 140px;
    height: max-content;

    @include breakpoint(large){
        width: 200px;
    }

    img{
        width: 100%;
        height: 100%;
        display: block;
        object-fit: contain;
    }
}

.header__burger{
    display: grid;
    grid-row-gap: 8px;
    height: max-content;
    cursor: pointer;

    @include breakpoint(large){
        display: none;
    }

    div{
        width: 40px;
        height: 2px;
        background-color: get-color(primary);
    }

    .line-1, .line-2, .line-3{
        transition: 400ms;
    }

    &.is-active{
        .line-1{
            transform: rotate(45deg) translateY(8px) translateX(6px);
        }

        .line-2{
            opacity: 0;
        }

        .line-3{
            transform: rotate(-45deg) translateY(-8px) translateX(6px);
        }
    }
}

.header__menu{
    position: absolute;
    width: 100%;
    height: max-content;
    top: 73px;
    transform: translateX(100%);
    transition: 400ms;
    background-color: get-color(light);
    box-shadow: 0 1px 6px rgba(0,0,0,0.16), 0 1px 6px rgba(0,0,0,0.23);
    padding: 20px 0;

    &.desktop{
        display: none;
        all: unset;

        @include breakpoint(large){
            display: block;
        }
    }

    &.is-active{
        transform: translateX(0);
    }

    ul{
        display: grid;
        grid-row-gap: 10px;
        justify-content: center;
    }

    li{
        color: get-color(grey-console);
        font-weight: normal;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        text-align: center;

        a{
            border-bottom: 2px solid transparent;
            transition: 200ms;
    
            &:hover{
                border-color: get-color(primary);
            }
        }
    }

    .header__search{
        display: flex;
        align-items: center;
        width: max-content;
        margin: 0 auto;
        margin-top: 20px;

        svg{
            color: get-color(primary);
        }

        input{
            margin-left: 5px;
            width: 0;
            visibility: hidden;
            padding: 4px;
            border: 1px solid get-color(grey-console);
            border-radius: 4px;
            transition: 200ms;

            &.is-active{
                width: 200px;
                visibility: visible;
            }
        }
    }
}